<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fooser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fooser.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @fooser.gender %>
</p>

<%= link_to 'Edit', edit_fooser_path(@fooser) %> |
<%= link_to 'Back', foosers_path %>
